body.is-fullscreen {
  --header-height: 0px;
}

body.is-fullscreen .header {
  display: none;
}

body.is-fullscreen .game-container {
  height: calc(var(--app-height) - var(--dashboard-height));
}

body.is-fullscreen canvas {
  height: calc(100% * var(--camera-zoom, 1));
  min-height: calc(100% * var(--camera-zoom, 1));
  width: calc((var(--app-height) - var(--dashboard-height)) * 4.2857 * var(--camera-zoom, 1));
  min-width: calc((var(--app-height) - var(--dashboard-height)) * 4.2857 * var(--camera-zoom, 1));
}
